<div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <form id="contact-us" method="post" action="#">
                        <!-- Left Inputs -->
                        <div class="col-xs-4 wow animated slideInLeft" data-wow-delay=".5s"></div>
                        
                        <div class="col-xs-4 wow animated slideInLeft" data-wow-delay=".5s">
                       
                            <!-- Name -->
                            <input type="text" name="nom" id="nom" required="required" class="form" placeholder="Nom" />
                            <!-- Email -->
                            <input type="text" name="prenom" id="prenom" required="required" class="form" placeholder="prénom" />
                            <!-- Subject -->
                            <input type="text" name="courriel" id="courriel" required="required" class="form" placeholder="courriel" />
                            <input type="text" name="tel" id="tem" required="required" class="form" placeholder="téléphone (uniquement en France métropolitaine) " />
                            Souhaitez vous recevoir notre newsletter?
                            <div class="radio">
                              <label><input type="radio" name="optradio">Oui</label>
                              <label><input type="radio" name="optradio">Non</label>
                              
                            </div>
                            <textarea name="suggestion" id="suggestion" class="form textarea" maxlength="600"  placeholder="Suggestions"></textarea>
                          </div>  
                            <div class="col-xs-4 wow animated slideInLeft" data-wow-delay=".5s"></div>
                            
                        <!-- End Left Inputs -->
                        <div class="relative fullwidth col-xs-12 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Send Button -->
                            <button type="submit" id="submit" name="submit" class="form-btn semibold">Envoyer</button> 
                        </div><!-- End Bottom Submit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                    <!-- Your Mail Message -->
                    <div class="mail-message-area">
                        <!-- Message -->
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Thank You !</strong> Your email has been delivered.
                        </div>
                    </div>

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->


