<section class="billboard light">
		<header class="wrapper light">
			<nav>
				<ul>
				</ul>
			</nav>
		</header>

		<div class="caption light animated wow fadeInDown clearfix">
			<h1>"Book" est une rupture technologique révolutionnaire. </h1>
			<p>Sans câble, sans circuit électrique, sans pile, sans nécessité de connexion.
				 Compact et portatif, Book peut être utilisé dans n’importe quel lieu. Puisqu’il n’a pas de batterie électrique, il ne doit pas se recharger. Il peut donc être utilisé dès que c’est nécessaire, même si aucune prise de courant n’est disponible. Book ne plante jamais.
				</p>
			<hr>
		</div>
		<div class="shadow"></div>
	</section><!--  End billboard  -->
