
  <div class="container">
     
        <hr>
                <div class="row row-margin-bottom">
                <div class="col-md-6  lib-item wow animated slideInLeft" data-category="view" *ngFor="let produit of produits" >
                    <div class="lib-panel">
                        <div class="row box-shadow">
                            <div class="col-md-4" >
                                <img class="lib-img-show" src="assets/book.png">
                            </div>
                            <div class="col-md-6">
                                <div class="lib-row lib-header">
                                    Name : {{produit.name}}
                                    <div class="lib-header-seperator"></div>
                                </div>
                                <div class="lib-row lib-desc">
                                    isbn : {{produit.isbn}} <br>
                                    authors : {{produit.authors}}<br>
                                    number Of Pages : {{produit.numberOfPages}}<br>
                                    publisher : {{produit.publisher}}<br>
                                </div>
                            </div>
                            <button type="button" class="btn btn-dark" [routerLink]="['/produit/'+produit.isbn]">plus d'info ></button>
                                                    
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                

                
    </div>